.aboutUs-title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #283b40;
  margin: 0 auto;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 3.12rem;
  }
}

.aboutUs-img {
  position: relative;
  background-image: url("/src/assets/svg/cat-aboutUs.svg");
  background-repeat: no-repeat;
  height: 34.87rem;
  width: 50rem;

  /* transform: translate(80px, -400px); */
  z-index: 2;
}

.aboutUs-circle {
  position: relative;
  background-color: #c1cce9;
  width: 27.75rem;
  height: 27.75rem;
  border-radius: 50%;

  z-index: 1;
}

.aboutUs-display {
  background-color: #dec1e9;
  height: 7.81rem;
  width: 67.06rem;
  position: relative;
  border-radius: 73px;

  transform: translate(70px, -723px);
  z-index: 1;

  p {
    display: flex;
    justify-content: right;
    width: 43.75rem;
    text-align: right;
    color: #283b40;

    margin-left: 17.5rem;
    padding: .62rem;
  }
}

.aboutUs-col1 {
  padding: 30px;
  p {
    text-align: justify;
    color: #283b40;
    font-size: 22px;
    width: 700px;
    margin: 0 auto;
  }
}

.aboutUs-col2 {
  padding: 1.87rem;
}

.aboutUs-cat-img {
  background-image: url("/src/assets/svg/cat-aboutUs.svg");
  background-repeat: no-repeat;
  height: 25rem;
  width: 25rem;

  margin-left: 9.37rem;
}


.aboutUs-mosaic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin: 0 auto;
  max-width: 100%;
}

.aboutUs-mosaic-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs-mosaic-item img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  .aboutUs-col1 {
    p {
      font-size: 1.25rem;
      width: auto;
    }
  }

  .aboutUs-mosaic {
    grid-template-columns: repeat(2, 1fr);
    gap: .62rem;
  }

  .aboutUs-mosaic-item img {
    width: 9.37rem;
    height: 9.37rem;
    object-fit: cover;
    border-radius: 10px;
  }
}