.top-toolbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;

}

.btn-topToolBar {
  display: flex;
  gap: 10px;
  margin-top: 100px;

  a {
    color: #283B40;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;

    &:hover {
      color: #14191a;
      font-weight: 600;
    }
  }
}

.menu-link {
  color: #283B40;
  text-decoration: none; /* Remove o sublinhado */
  font-size: 16px;
  padding: 10px;
  
}

.menu-link:hover {
  background-color: #f0f0f0; /* Efeito de hover opcional */
}
