.btn-adopt {
  background-color: #85cf3a;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: #b0d68a;
    color: #283B40;
  }

  &:focus {
    outline: none;
  }

}
