.aboutUs-title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #283B40;
  font-size: 22px;

  margin: 0 auto;
}

.aboutUs-img {
  position: relative;
  background-image: url('../../assets/dog-aboutUs.svg');
  background-repeat: no-repeat;
  height: 558px;
  width: 800px;

  transform: translate(80px, -400px);
  z-index: 2;
}

.aboutUs-circle {
  position: relative;
  background-color: #C1CCE9;
  width: 444px;
  height: 444px;
  border-radius: 50%;

  z-index: 1;
}

.aboutUs-display {
  background-color: #DEC1E9;
  height: 125px;
  width: 1073px;
  position: relative;
  border-radius: 73px;


  transform: translate(70px, -723px);
  z-index: 1;


  p {
    display: flex;
    justify-content: right;
    width: 700px;
    text-align: right;
    color: #283B40;

    margin-left: 280px;
    padding: 10px;
  }
}

.aboutUs-col1 {
  padding: 30px;
  p {
    text-align: justify;
    color: #283B40;
    font-size: 22px;
  }
}

.aboutUs-cat-img {
  background-image: url('../../assets/cat-aboutUs.svg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;

  margin-left: 150px;
}
